@charset "utf-8";
/* CSS Document */
#dropp{
	
	position:fixed;
	top:0px;
	
	z-index:30px;
	background-color:white;
	}
	
#dropp input{
	
	width:200px;
	basckground-color:red;
	}

#dropp div{
	lborder:thin solid green;
	float:left;
	width:200px;
	margin:3px;
	}
#dropp textarea{
	lborder:thin solid green;
	float:left;
	width:238px;
	margin:3px;
	}
#groupp{
	position:fixed;
	bottom:26px;
	left:65px;
	
	border:thin solid #A38F8F;
	background-color:#807676;
	
	
	}

#page{
	
	position:fixed;
	bottom:0px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:white;
	width:100%;
	height:25px;
	}

#page2{
	
	position:fixed;
	bottom:77px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:white;
	height:300px;
	width:300px;
	overflow-x:hidden;
	}
	
