@charset "utf-8";
/* CSS Document */

#s{
	background-color: #000000;
	color: white;
	background-image: url(../pictures/images.jpg);
	background-position: left top;
	background-repeat: no-repeat;
}


/* login*/
#login{ float:right;
position:relative;
margin-bottom: 50px;
width:1000px;}

#iemail{float:right; position:relative;}
#ipassword{float:right; position: relative;}
#ilogin{float:right; position: relative; height:35px; cursor:pointer;}

/* register*/
#reg{
	position: relative;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	height: 400px;
	width: 313px;
}

input{
	border-radius: 4px;
	border: 2px solid #3B3131;
	height: 30px;
}

#first{width:150px;}
#last{width:150px; }
#email{ width:308px;}
#password{width:308px;}
#conpass{width:308px;}
#regdone{ width:154px; cursor:pointer;}
#reset{width:154px; cursor:pointer;}
