@charset "utf-8";
/* CSS Document */

#admin{
	position:absolute;
	margin:auto;
	width:1000px;
	}
#dropp{
	width:1500px;
	position:fixed;
	top:0px;
	left:0px;
	
	z-index:30px;
	background-color:white;
	margin:auto;
		border-bottom:thin solid green;
			height:150px
	}
	
#dropp input{
	
	width:200px;
	font-size: 18px;
	
	color: #0FD70C;
	
	border:thin solid green;
	
	
	}

#dropp div{
	lborder:thin solid green;
	float:left;
	width:200px;
	margin:3px;

	}
#dropp textarea{
	border:thin solid green;
	float:left;
	width:280px;
	margin:3px;
	
	resize:none;}
#groupp{
	position:fixed;
	bottom:26px;
	left:57px;
	
	border:thin solid #191919;
	background-color:white;
	color:green;
	border-radius:5px;
	
	
	}


	
	

#page{
	
	position:fixed;
	bottom:0px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:#1E5B1E;
	width:100%;
	height:25px;
	}

#page2{
	
	position:fixed;
	bottom:82px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:white;
	height:300px;
	width:300px;
	overflow-x:hidden;
	}
	
#x{
	
	position:fixed;
	bottom:63px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:white;
	
	width:50px;
	cursor:pointer;
	z-index:70;
	}
#xs{
	
	position:fixed;
	bottom:63px;
	left:0px;
	
	
	border:thin solid #A38F8F;
	background-color:white;
	
	width:80px;
	cursor:pointer;
	z-index:50;
	}
#groupf tr td{
	border:thin solid green;
	border-radius:3px;
	margin:px;
	
	
	}
	#groupd tr td{
	border: 1px solid green;
	border-radius: 3px;
	margin: px;
	color:white;
	background-color: #1E5B1E;
	}
#groupp tr td{
	border: 1px solid green;
	border-radius: 3px;
	margin: px;
	color:white;
	background-color: #1E5B1E;
	}
 #xx{
	

	color:red;
	background-color: white;
	cursor:pointer;
	
	}